@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;700;800&family=Poppins:ital,wght@1,500&family=Preahvihear&display=swap');
body{
    font-family: 'Handjet', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Preahvihear', sans-serif;
}
#css{
  font-variant : small-caps;
  font-weight: bolder;
  font-style :inherit;
}
p{
  font-size: 15px;
}